
    .grid_title{

        @include display_flex_around;
        padding-top: 40px;

        @include four-k{
            margin: 0px 290px;
        }

        @include large-laptop{
            margin: 0 150px;
        }

        @include small-laptop{
            margin: 0 10px;
        }

        

        h1{
            @include creation_h1;
        }

        a{
            @include creation_desktop_button;
            border: 1px solid black;
            padding: 15px 30px;
            height: 0;
            align-items: center;
            display: flex;
            
            @include large-tablet{
                display: none;
            }

        }
    }


.grid_cont{

    display: grid;
    justify-content: center;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 470px;
    grid-column-gap:  5px;
    margin: 30px;
    

    @include large-tablet{

        grid-template-columns: 400px;
        grid-template-rows:  160px 160px 160px 160px 160px 160px 160px 160px;

    }
    .grid_item{

        display: grid;


        @include large-laptop{
                    
        }

        @include small-laptop{
            
            
        }

        @include large-tablet{
            height: 280px;
        }

        @include med-tablet{
           
           
        }

        @include small-tablet{
          
            height: 300px;

        }

        @include creation-phone-750px{
            height: 280px;
        }

        @include large-phone{
            height: 260px;
        }

        @include creation-phone-600px{
            height: 210px;

        }

        @include med-phone{
            height: 170px;

        }
 

        .grid_img{

            div{

                @include four-k{
                    background: black;
                    width: 255px;
                    height:450px;
                    opacity: 0.3;
                    position: absolute;   
                }

                @include large-tablet{
                    background: black;
                    width: 400px;
                    height:145px;
                    opacity: 0.3;
                    position: absolute;
                }
            }

            .deep_earth_mobile{

                @include four-k{
                    display: none;
                }

                @include large-tablet{
                    display: block;
                }
            }

            .deep_earth_desktop{

                @include four-k{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }

            .night_arcade_mobile{
               
                @include four-k{
                    display: none;
                }
                
                @include large-tablet{
                    display: block;
                }
            }

            .night_arcade_desktop{

                @include four-k{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }

            .soccer_team_mobile{
                
                @include four-k{
                    display: none;
                }

                @include large-tablet{
                    display: block;
                }
            }

            .soccer_team_desktop{

                @include four-k{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }
            

            .the_grid_mobile{
                
                @include four-k{
                    display: none;
                }

                @include large-tablet{
                    display: block;
                }
            }

            .the_grid_desktop{

                @include four-k{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }

            .above_vr_mobile{
                
                @include four-k{
                    display: none;
                }

                @include large-tablet{
                    display: block;
                }
            }

            .above_vr_desktop{

                @include four-k{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }

            .pocket_mobile{
                
                @include four-k{
                    display: none;
                }

                @include large-tablet{
                    display: block;
                }
            }

            .pocket_desktop{

                @include small-laptop{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }

            .curiousity_mobile{
                
                @include four-k{
                    display: none;
                }

                @include large-tablet{
                    display: block;
                }
            }

            .curiousity_desktop{

                @include small-laptop{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }

            .fish_eye_mobile{
                
                @include four-k{
                    display: none;
                }
                @include large-tablet{
                    display: block;
                }
            }

            .fish_eye_desktop{

                @include small-laptop{
                    display: block;
                }

                @include large-tablet{
                    display: none;
                }
            }


            @include large-tablet{
                bottom: 100px;

            }


            img{
     
                max-width: 100%;

            }

            h3{

                position: relative;
                margin: 20px;
                bottom: 110px;
                @include creation_h3;

    
                @include large-tablet{
                    bottom: 100px;
                    font-size: 30px;
                    text-align: left;
                }

                @include med-tablet{
                }

                @include small-tablet{
                    
                }

                @include large-phone{
                    
                    
                }
            }
        }

    }

    .see_all_bottom_btn{

        display: none;

        @include large-tablet{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        a{
            @include creation_tab_mobile_button;
            border: 1px solid black;
            padding: 20px 40px;
            height: 0;
            align-items: center;
            display: flex;
        }

    }

}