.hero-cont{

//Positaion Relative
@include hero_cont;

.header-hero-img{
//Positaion Relative
@include hero_img;
}

.navbar{

@include flex_row_center;
@include hero_nav;

.logo{
@include hero_logo;

a{
@include header_logo_txt;
}
}

.nav-menu{
@include display_flex;
align-items: center;
margin-left: auto;
padding: 20px;

@include large-laptop{
margin-right: 75px;
}

@include med-laptop{
margin-right: 60px;
}

@include large-tablet{
display: none;
}

.nav-item{
list-style: none;
margin: 0px 40px;

@include large-tablet{
width: 100%;
display: flex;
justify-content: flex-start;
}


.nav-link{
@include header_nav_txt;
transition: ease 0.7s;
margin: 35px 0px;
}

.nav-link::after{
content: "";
position: absolute;
width: 0;
background-color: white;
height: 2px;
left: 0;
bottom: -5px;
transition: ease-in-out 300ms;

@include large-tablet{
display: none;
}
}

a:hover::after{
width: 100%;

@include large-tablet{
display: none;
}

}
}
}

//Tablet | Moible Nav
.nav-menu.active{       
@include mobile_tab_navbar;
}


}




//NAVIGATION MOBILE FRIENDLY HAMBURGER ICON
.hamburger{

display: none;
cursor: pointer;

@include large-tablet{
display: block;
margin-left: auto;
padding: 10px 20px 0px 0px;
}

//NAVIGATION MOBILE FRIENDLY HAMBURGER BARS
.bar{
display: block;
width: 30px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: white;
}
}

//NAVIGATION MOBILE FRIENDLY ACTIVE HAMBURGER CROSS (WHEN CLICKED ON), REMOVED 
//MIDDLE LINE AND CROSS THE TOP AND BOTTOM LINES
.hamburger.active  {

z-index: 2;


.bar:nth-child(2){

@include large-tablet{
opacity: 0;
}
}

.bar:nth-child(1){

@include large-tablet{
transform: translateY(8px) rotate(45deg);
}
}

.bar:nth-child(3){

@include large-tablet{
transform: translateY(-8px) rotate(-45deg);
}
}

}


}

//MOTTO

.hero-border-motto-cont{

position: absolute;
top: 20vh;
padding: 50px 100px;




@include large-laptop{

padding: 40px 75px;


}

@include med-laptop{
padding: 20px 65px;


}

@include small-laptop{

padding: 20px 65px;


}

@include large-tablet{

display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 50%;
padding: 0;

}

@include med-tablet {



}

.motto{

background: transparent;
border: 4px solid white;
width: 35vw;

@include med-laptop{

width: 40vw;
}

@include small-laptop{


}

@include large-tablet{

width: 90vw;

}

@include small-tablet {

}

@include large-phone {


}

h1{
@include header_h1;
}
}

}

