.hero-cont{

    @include hero_cont;

.header-hero-img{

@include hero_img;

@include large-laptop{
height: 1000px;
}

@include med-laptop{
height: 900px;
}

@include small-laptop{


}

@include large-tablet{
}

@include med-tablet{

}

@include small-tablet{

}

}

.navbar{

@include flex_row_center;
@include hero_nav;


.logo{

@include hero_logo;

@include large-laptop{
margin: 0px 75px;
}

@include med-laptop{
margin: 0px 60px;
}

@include small-laptop{


}

@include large-tablet{
    z-index: 2;
    margin: 0px 45px;


}

@include med-tablet{

    margin: 0px 35px;
}

@include small-tablet{
    margin: 0px 25px;
}

@include large-phone{
    margin: 0px 20px;
}

@include small-phone{

}

a{
@include hero_logo_txt;

@include large-tablet{
    font-size: 50px;

}
}
}


.nav-menu{
display: flex;
margin-left: auto;
padding: 20px;
align-items: center;

@include large-laptop{
margin-right: 75px;
}

@include med-laptop{
margin-right: 60px;
}

@include large-tablet{
display: none;
}

.nav-item{
list-style: none;
margin: 0px 40px;

@include large-tablet{
    
    width: 100%;
    display: flex;
    justify-content: flex-start;

    }


.nav-link{
text-decoration: none;
color: white;
font-family: 'Alata', sans-serif;
position: relative;
font-size: 20px;
transition: ease 0.7s;
margin: 35px 0px;

@include large-tablet{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
}

.nav-link::after{
content: "";
position: absolute;
width: 0;
background-color: white;
height: 2px;
left: 0;
bottom: -5px;
transition: ease-in-out 300ms;

@include large-tablet{
display: none;
}
}

a:hover::after{
width: 100%;

@include large-tablet{
display: none;
}

}
}
}

.nav-menu.active{       

@include large-tablet {
display: block;
position: fixed;
z-index: 1;
left: -100%;
gap: 0;
flex-direction: column;
text-align: center;
transition: 0.3s;
justify-content: center;
left: 50%;
top: 40%;
transform: translate(-50%, -50%);
background-color: black;
border-radius: 20px;
width: 100%;
padding: 500px 100px;
}

@include med-tablet{

}

@include small-tablet{

}

@include large-phone {
}
}




}




//NAVIGATION MOBILE FRIENDLY HAMBURGER ICON
.hamburger{

display: none;
cursor: pointer;

@include large-tablet{
display: block;
margin-left: auto;
padding: 10px 20px 0px 0px;
}

//NAVIGATION MOBILE FRIENDLY HAMBURGER BARS
.bar{
display: block;
width: 30px;
height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: white;
}
}

//NAVIGATION MOBILE FRIENDLY ACTIVE HAMBURGER CROSS (WHEN CLICKED ON), REMOVED 
//MIDDLE LINE AND CROSS THE TOP AND BOTTOM LINES
.hamburger.active  {

    z-index: 2;

    
.bar:nth-child(2){

@include large-tablet{
opacity: 0;
}
}

.bar:nth-child(1){

@include large-tablet{
transform: translateY(8px) rotate(45deg);
}
}

.bar:nth-child(3){

@include large-tablet{
transform: translateY(-8px) rotate(-45deg);
}
}

}


}

//MOTTO

.hero-border-motto-cont{

    position: absolute;
    top: 20vh;
    padding: 50px 100px;

    


    @include large-laptop{

        padding: 40px 75px;


    }

    @include med-laptop{
        padding: 20px 65px;


    }

    @include small-laptop{

        padding: 20px 65px;


    }
    
    @include large-tablet{
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 0;

    }
    
    @include med-tablet {

  

    }

    .motto{

        background: transparent;
        border: 4px solid white;
        width: 35vw;

        @include med-laptop{
    
            width: 40vw;
        }
            
        @include small-laptop{
    
           
        }

        @include large-tablet{
          
            width: 90vw;
         
        }
        
        @include small-tablet {

        }

        @include large-phone {
       

        }

        h1{

            font-family: 'Josefin Sans', sans-serif;
            font-size: 100px;
            font-weight: 400;
            color: white;
            text-align: center;

            @include large-laptop{

                font-size: 80px;

            }
    
            @include med-laptop{
    
                font-size: 70px;

            }
    
            @include small-laptop{
    
                font-size: 70px;

            }
            
            @include large-tablet{
            
                font-size: 80px;

            }
            
            @include med-tablet {
                font-size: 70px;

            }

            @include large-phone{
                font-size: 60px;
            }

            @include med-phone{
                font-size: 50px;
            }

            @include small-phone{

            }
        }
    }

}