body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-cont .header-hero-img {
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  width: 100%;
  position: relative;
}

@media (max-width: 2000px) {
  .hero-cont .header-hero-img {
    height: 1000px;
  }
}

@media (max-width: 1700px) {
  .hero-cont .header-hero-img {
    height: 900px;
  }
}

.hero-cont .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5%;
  width: 100%;
}

@media (max-width: 2000px) {
  .hero-cont .nav-container {
    top: 2%;
  }
}

@media (max-width: 1700px) {
  .hero-cont .nav-container {
    top: 1%;
  }
}

@media (max-width: 1400px) {
  .hero-cont .nav-container {
    top: 0;
  }
}

.hero-cont .nav-container .logo {
  margin: 0px 100px;
}

@media (max-width: 2000px) {
  .hero-cont .nav-container .logo {
    margin: 0px 75px;
  }
}

@media (max-width: 1700px) {
  .hero-cont .nav-container .logo {
    margin: 0px 60px;
  }
}

.hero-cont .nav-container .logo h1 {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 55px;
}

.hero-cont .nav-container nav {
  margin-left: auto;
}

.hero-cont .nav-container nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
}

@media (max-width: 2000px) {
  .hero-cont .nav-container nav .nav-menu {
    margin-right: 75px;
  }
}

@media (max-width: 1700px) {
  .hero-cont .nav-container nav .nav-menu {
    margin-right: 60px;
  }
}

@media (max-width: 1250px) {
  .hero-cont .nav-container nav .nav-menu {
    display: none;
  }
}

.hero-cont .nav-container nav .nav-menu .list-item {
  list-style: none;
  margin: 0px 40px;
}

.hero-cont .nav-container nav .nav-menu .list-item a {
  text-decoration: none;
  color: white;
  font-family: 'Alata', sans-serif;
  position: relative;
  font-size: 20px;
}

.hero-cont .nav-container nav .nav-menu .list-item a::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: white;
  height: 2px;
  left: 0;
  bottom: -5px;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.hero-cont .nav-container nav .nav-menu .list-item a:hover::after {
  width: 100%;
}

@media (max-width: 1250px) {
  .hero-cont .nav-container nav .nav-menu:active {
    display: block;
    position: fixed;
    z-index: 1;
    left: -100%;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    top: 33%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    padding: 100px 300px;
  }
}
/*# sourceMappingURL=style.css.map */