body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-cont {
  position: relative;
  border-bottom: 1px solid #E2E8F0;
}

.hero-cont .header-hero-img {
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  width: 100%;
  position: relative;
}

@media (max-width: 2000px) {
  .hero-cont .header-hero-img {
    height: 1000px;
  }
}

@media (max-width: 1700px) {
  .hero-cont .header-hero-img {
    height: 900px;
  }
}

.hero-cont .navbar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.hero-cont .navbar .logo {
  margin: 0px 100px;
}

@media (max-width: 2000px) {
  .hero-cont .navbar .logo {
    margin: 0px 75px;
  }
}

@media (max-width: 1700px) {
  .hero-cont .navbar .logo {
    margin: 0px 60px;
  }
}

@media (max-width: 1250px) {
  .hero-cont .navbar .logo {
    z-index: 2;
    margin: 0px 45px;
  }
}

@media (max-width: 900px) {
  .hero-cont .navbar .logo {
    margin: 0px 35px;
  }
}

@media (max-width: 800px) {
  .hero-cont .navbar .logo {
    margin: 0px 25px;
  }
}

@media (max-width: 700px) {
  .hero-cont .navbar .logo {
    margin: 0px 20px;
  }
}

.hero-cont .navbar .logo a {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 55px;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .hero-cont .navbar .logo a {
    font-size: 50px;
  }
}

.hero-cont .navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 2000px) {
  .hero-cont .navbar .nav-menu {
    margin-right: 75px;
  }
}

@media (max-width: 1700px) {
  .hero-cont .navbar .nav-menu {
    margin-right: 60px;
  }
}

@media (max-width: 1250px) {
  .hero-cont .navbar .nav-menu {
    display: none;
  }
}

.hero-cont .navbar .nav-menu .nav-item {
  list-style: none;
  margin: 0px 40px;
}

@media (max-width: 1250px) {
  .hero-cont .navbar .nav-menu .nav-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero-cont .navbar .nav-menu .nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-family: 'Alata', sans-serif;
  position: relative;
  font-size: 20px;
  -webkit-transition: ease 0.7s;
  transition: ease 0.7s;
  margin: 35px 0px;
}

@media (max-width: 1250px) {
  .hero-cont .navbar .nav-menu .nav-item .nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
  }
}

.hero-cont .navbar .nav-menu .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: white;
  height: 2px;
  left: 0;
  bottom: -5px;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

@media (max-width: 1250px) {
  .hero-cont .navbar .nav-menu .nav-item .nav-link::after {
    display: none;
  }
}

.hero-cont .navbar .nav-menu .nav-item a:hover::after {
  width: 100%;
}

@media (max-width: 1250px) {
  .hero-cont .navbar .nav-menu .nav-item a:hover::after {
    display: none;
  }
}

@media (max-width: 1250px) {
  .hero-cont .navbar .nav-menu.active {
    display: block;
    position: fixed;
    z-index: 1;
    left: -100%;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 20px;
    width: 100%;
    padding: 500px 100px;
  }
}

.hero-cont .hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .hero-cont .hamburger {
    display: block;
    margin-left: auto;
    padding: 10px 20px 0px 0px;
  }
}

.hero-cont .hamburger .bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hero-cont .hamburger.active {
  z-index: 2;
}

@media (max-width: 1250px) {
  .hero-cont .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
}

@media (max-width: 1250px) {
  .hero-cont .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
}

@media (max-width: 1250px) {
  .hero-cont .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.hero-border-motto-cont {
  position: absolute;
  top: 20vh;
  padding: 50px 100px;
}

@media (max-width: 2000px) {
  .hero-border-motto-cont {
    padding: 40px 75px;
  }
}

@media (max-width: 1700px) {
  .hero-border-motto-cont {
    padding: 20px 65px;
  }
}

@media (max-width: 1400px) {
  .hero-border-motto-cont {
    padding: 20px 65px;
  }
}

@media (max-width: 1250px) {
  .hero-border-motto-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50%;
    padding: 0;
  }
}

.hero-border-motto-cont .motto {
  background: transparent;
  border: 4px solid white;
  width: 35vw;
}

@media (max-width: 1700px) {
  .hero-border-motto-cont .motto {
    width: 40vw;
  }
}

@media (max-width: 1250px) {
  .hero-border-motto-cont .motto {
    width: 90vw;
  }
}

.hero-border-motto-cont .motto h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  font-weight: 400;
  color: white;
  text-align: center;
}

@media (max-width: 2000px) {
  .hero-border-motto-cont .motto h1 {
    font-size: 80px;
  }
}

@media (max-width: 1700px) {
  .hero-border-motto-cont .motto h1 {
    font-size: 70px;
  }
}

@media (max-width: 1400px) {
  .hero-border-motto-cont .motto h1 {
    font-size: 70px;
  }
}

@media (max-width: 1250px) {
  .hero-border-motto-cont .motto h1 {
    font-size: 80px;
  }
}

@media (max-width: 900px) {
  .hero-border-motto-cont .motto h1 {
    font-size: 70px;
  }
}

@media (max-width: 700px) {
  .hero-border-motto-cont .motto h1 {
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .hero-border-motto-cont .motto h1 {
    font-size: 50px;
  }
}

.leader-intercative-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leader-txt-cont {
  background-color: white;
  position: relative;
  margin: 10px 100px;
}

.leader-txt-cont .leader-header h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.leader-txt-cont .leader-txt p {
  font-family: 'Alata', sans-serif;
  color: grey;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 200;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */